* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; overflow-y: scroll; height: 90%; min-height: 400px; max-height: 400px; vertical-align: bottom;}
#messages li { padding: 5px 10px;}
/*#messages li:nth-child(odd) { background: #eee; }*/
#chatWindow {height: 400px; position: absolute;border:1px solid black;}
.serverMsg {font-weight: bold; color: #A0A0A0;}
.user {font-weight: bold}
.self {font-style: italic;}
